Repository Archoleat/archoleat-repo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ci: rename step
  .github/workflows/commitlint.yaml
  .github/workflows/editorconfig.yaml
  .github/workflows/eslint.yaml
  .github/workflows/prettier.yaml
  .github/workflows/release.yaml
  .github/workflows/remark.yaml
  .github/workflows/spec.yaml
Due: prettier --write

chore: deps
  package.json
Due: prettier --write

docs(readme): remove extra badges
  README.md
Due: prettier --write

docs(readme): remove extra badges (#474)
  README.md
Due: prettier --write

refactor: small changes
  eslint.config.js
  package.json
  tsconfig.json
  tsconfig.node.json
Due: prettier --write

refactor: small changes
  .prettierignore
Due: prettier --write

refactor: small changes (#477)
  .prettierignore
Due: prettier --write

refactor: small changes
  .ecrc
  package.json
  specs/message.spec.ts
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

refactor: release
  .github/workflows/release.yaml
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  1cf0392dbad1c4c91965952a2fbbd06cc5b1fa83
Due: none

refactor: clean
  .github/workflows/release.yaml
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  fa2714d2ce5c2995f394ef13e7dd206b8ac277f0
Due: none

refactor: gitignore
  .gitignore
Due: prettier --write

refactor: change path
  specs/message.spec.ts
Due: prettier --write

refactor: alias
  package.json
Due: prettier --write

refactor: change path (#481)
  package.json
  specs/message.spec.ts
Due: prettier --write

refactor: ecrc
  .editorconfig-checker.json
Due: prettier --write

Update .prettierignore
  .prettierignore
Due: prettier --write

refactor: tsconfig
  tsconfig.json
Due: prettier --write

fix: checker
  .github/workflows/editorconfig.yaml
  package.json
Due: prettier --write

spec: optimize
  specs/message.spec.ts
Due: prettier --write

spec: optimize (#486)
  specs/message.spec.ts
Due: prettier --write

refactor: ignore
  .gitignore
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.*
  eslint --fix: any of: src/**/*.ts
