Repository Archoleat/archoleat-repo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.*": "prettier --write",
  "src/**/*.ts": "eslint --fix"
}

chore(release): 1.7.16 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  c944037a1c483f9be21409bff7cf04f5bbdf51e3
Due: none

ci(auto-merge): add `--squash` flag
  .github/workflows/auto-merge-dependabot-pull-request.yaml
Due: prettier --write

chore(deps-dev): update
  pnpm-lock.yaml
Due: prettier --write

ci(dependabot): remove auto approve
  .github/workflows/auto-merge-dependabot-pull-request.yaml
Due: prettier --write

refactor(eslint): add `prettier`
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 1.7.17 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  2668c56b11762387abacb1379fd47ac5bb06aef0
Due: none

refactor(eslint): add `ecmaVersion` and `sourceType`
  eslint.config.js
Due: prettier --write

chore(release): 1.7.18 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  13588d65e359ceb11a72b77cc0bff4670e521e66
Due: none

spec: replace `test` with `spec`
  .github/workflows/release.yaml
  .github/workflows/spec.yaml
  README.md
  package.json
  specs/index.spec.ts
Due: prettier --write

refactor(eslint): add new rules
  eslint.config.js
Due: prettier --write

refactor(index): remove extra braces
  index.ts
Due: prettier --write

chore(release): 1.7.19 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  4344f1b535257c4ff2c0b25745158781c8c4483e
Due: none

refactor(eslint): rename unicorn import
  eslint.config.js
Due: prettier --write

chore(release): 1.7.20 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  9a916c68c15b65375276b14fd33ad60ac0145368
Due: none

ci(dependabot): change update interval
  .github/dependabot.yaml
Due: prettier --write

refactor: small changes
  .github/dependabot.yaml
  .github/workflows/codeql.yaml
  .github/workflows/commitlint.yaml
  .github/workflows/editorconfig.yaml
  .github/workflows/eslint.yaml
  .github/workflows/markdown.yaml
  .github/workflows/prettier.yaml
  .github/workflows/release.yaml
  .github/workflows/spec.yaml
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  specs/index.spec.ts
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

refactor: small changes
  .husky/post-merge
  README.md
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: lint-staged
  lint-staged.config.js
Due: prettier --write

fix: remark
  .github/workflows/spec.yaml
  .prettierignore
  .remarkignore
  lint-staged.config.js
  package.json
Due: prettier --write

ci(spec): change workflow_run
  .github/workflows/spec.yaml
Due: prettier --write

chore(deps-dev): update
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 1.7.21 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  6a0931ea6ba1b172452876152069c6a4ebfef588
Due: none

refactor: small changes
  package.json
  pnpm-lock.yaml
  specs/message.spec.ts
  tsconfig.json
  tsconfig.node.json
Due: prettier --write

refactor: aliases
  package.json
  specs/message.spec.ts
Due: prettier --write

refactor: tsconfig
  tsconfig.json
  tsconfig.node.json
Due: prettier --write

fix: commitlint
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: eslint
  .github/workflows/spec.yaml
  package.json
  pnpm-lock.yaml
  specs/message.spec.ts
Due: prettier --write

refactor: small changes
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: commitlint
  .github/workflows/commitlint.yaml
Due: prettier --write

chore(release): 1.7.22 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  bbab550789f22a389c45f6741d469617104a8dc6
Due: none

refactor(vitest): remove extra options
  vitest.config.ts
Due: prettier --write
